* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


p {
    margin: 0 10px 0 0
}

.task-list{
    background: antiquewhite;
    padding: 1em 1em 1em 1em;
    height: 100%;
}
.task-list__row{
    display: flex;
    margin: 0.5em 0 0.5em 0;
}